*{
  margin: 0;
  cursor:none;
}

.App{
  display: flex;
  align-items:center;
  height: 100vh;
  background-color: black;
  justify-content: center;
}

.title{
  font-size: 10rem;
  color: white
}

.cursor{
  background-color: #fff;
  height: 32px;
  width: 32px;
  border-radius: 50%;
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
}